<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>GreatStay | Welcome</title>
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body>
    <header>
      <div class="container">
        <div id="branding">
          <h1><span class="highlight">Great</span>Stay</h1>
        </div>
        <nav>
          <ul>
            <li class="current"><a href="index.html">Home</a></li>
            <li><a href="#">Sign up</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Work from GreatStay</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="help.html">Help</a></li>
		  </ul>
        </nav>
      </div>
    </header>

    <section id="showcase">
      <div class="container">
        <h1>Enjoy the Luxurious Experience</h1>
        <p>Book unique homes and make the most of your plans</p>
      </div>
    </section>

    <section id="newsletter">
      <div class="container">
       
      </div>
    </section>

    <section id="boxes">
      <div class="container">
      	<h1>Services and Facalities</h1>
        <div class="box">
          <img src="./img/travel.png">
          <h3>Travel Accomodation</h3>
          <p>Quality accomodation that exceeds the expectations.Find your freedom.Live your life.</p>
        </div>
        <div class="box">
          <img src="/storage/img/restaurant.jpg">
          <h3>Food</h3>
          <p>Food made with love and intensity.Deliciousness jumping into the mouth.</p>
        </div>
        <div class="box">
          <img src="/storage/img/room.png">
          <h3>Luxury Rooms</h3>
          <p>Luxury rooms with the most soothing experience.Proper Air conditioning with an even more comfortable ventilation</p>
        </div>
      </div>
         <div class="box">
          <img src="/storage/img/phone.jpeg">
          <h3>Call us 24x7</h3>
          <p>If you need help while travelling or hosting,contact us at our toll fre number 000 455 3454 231</p>
        </div>
      </div>
		        <div class="box">
          <img src="/storage/img/credit.png">
          <h3>Accepts Credit cards</h3>
          <p>There are somethings which money can't buy.For everything else there is card.</p>
        </div>
      </div>
              <div class="box">
          <img src="/storage/img/wifi.jpg">
          <h3>Fast and Free wifi</h3>
          <p>Fast and free wifi with no restrictions.Be on the move.</p>
        </div>
      </div>     
    </section>

    <footer>
      <p>Great Stay, Copyright &copy; 2018</p>
    </footer>
  </body>
</html>
